<app-layout [data]="brandingDetails.layout">
  <div class="forgot-password-card">
    <h2>{{ brandingDetails.title }}</h2>
    <p class="subtitle">{{ brandingDetails.descripton }}</p>

    @if (successMessage) {
    <div class="success-msg">
      {{ successMessage }}
    </div>
    } @if (errorMessage) {
    <div class="error-msg">
      {{ errorMessage }}
    </div>
    }

    <form (ngSubmit)="onSubmit()" [formGroup]="forgotPasswordForm">
      <div class="input-box">
        <label>Email</label>
        <input
          type="email"
          name="email"
          placeholder="hello@reallyneatsite.com"
          formControlName="email"
        />
        <!-- <span class="icon">
          <ion-icon name="mail"></ion-icon>
        </span> -->
        @if(forgotPasswordForm.get('email')?.invalid &&
        forgotPasswordForm.get('email')?.touched){
        <small>
          {{ brandingDetails.errorMessages.email }}
        </small>
        }
      </div>

      <button
        type="submit"
        [disabled]="!forgotPasswordForm.valid || isSubmitting"
      >
        {{ isSubmitting ? "Sending..." : "Send Reset Link" }}
      </button>
    </form>

    <div class="back-to-login">
      <a (click)="goBackToLogin()">
        <!-- <ion-icon name="arrow-back"></ion-icon> -->
        {{ brandingDetails.formButtons.login }}
      </a>
    </div>
  </div>
</app-layout>
