.app-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  
.app-card {
    flex: 1;
    min-width: 250px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    color: #333;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
  
.app-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  
.app-card button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    background: inherit;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }