:root {
  --primary-color: #0bacc9;
  --text-color: #ffffff;
  --background-color: #f8f9fb;
}

.header {
  height: 60px;
  background-color: var(--primary-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 25px;
}

h3 {
  font-size: large;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon-btn {
  background: none;
  border: none;
  color: var(--text-color);
  // font-size: 18px;
  cursor: pointer;
}
:root {
  --icon-size: 40px;
}

i {
  font-size: 17px;
  padding: 0.5px;
  cursor: pointer;
}

.icon-btn:hover {
  color: #d2f0ff;
}

/* THEME PICKER */
.theme-picker {
  position: relative;
  display: flex;
  align-items: center;
}

.theme-picker ezui-icon {
  cursor: pointer;
  font-size: 20px;
}

.hidden-color-input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
  pointer-events: none;
}
