.sidebar {
  width: 80px;
  background-color: var(--primary-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px 0;
  height: 100%;
  z-index: 2;
  position: sticky;
}

/* Logo section */
.logo-section {
  margin-bottom: 70px;
}

.sidebar-logo {
  height: 47px;
  width: 47px;
}

/* Nav links */
.nav-items {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  flex-grow: 1;
  margin-top: 5rem;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(255, 255, 255, 0.653);
  text-decoration: none;
  transition: 0.3s;
  font-size: small;
}

.icon-container {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6px;
  transition: 0.3s;
  cursor: pointer;
}

.icon-container i {
  font-size: 15px;
  color: var(--text-color);
  transition: color 0.3s ease;
  // cursor: pointer;
}

.nav-item:hover .icon-container {
  background-color: rgba(255, 255, 255, 0.25);
}

.nav-item:hover i {
  color: #ffffff;
}

/* Logout section */
.logout-section {
  padding-bottom: 20px;
  cursor: pointer;
}

.logout-btn {
  background: none;
  border: none;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  // transition: 0.3s;

  font-size: small;
}
