/* ===== Container ===== */
.subtitle {
  display: flex;
  color: #ffffff84;
  margin-top: 0.5rem;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 0;
}
.login-container {
  background: linear-gradient(
    180deg,
    var(--landing-bg-start) 0%,
    var(--landing-bg-mid) 40%,
    var(--landing-bg-end) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo-section {
  position: relative;
  z-index: 1;
  margin-bottom: 3rem;
  text-align: center;
  height: fit-content;
}

.logo-icon {
  width: 350px;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.logo-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ===== Login Card ===== */
.login-card {
  background: rgb(40 18 50 / 60%);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(148, 163, 184, 0.2);
  border-radius: 32px;
  padding: 2rem;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4);
  width: 100%;
  max-width: 520px;
  position: relative;
  z-index: 1;
  height: fit-content;
}

/* ===== Responsive ===== */
@media (max-width: 768px) {
  .login-container {
    padding: 1.5rem;
  }

  .logo-icon {
    width: 250px;
    height: 50px;
  }

  .logo-section {
    margin-bottom: 2rem;
  }

  .login-card {
    padding: 2rem;
  }
}

@media (max-width: 480px) {
  .logo-icon {
    width: 200px;
    height: 40px;
  }

  .login-card {
    padding: 1.5rem;
  }
}
