#sso-root {
  $fa-font-path: "/assets/webfonts";
  @import "../node_modules/@fortawesome/fontawesome-free/scss/icons";
  @import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
  @import "../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
  @import "../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
  @import "../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
  @import "../node_modules/@clarium/ngce-icon/src/assets/ngce-icons/css/ngce-icon.css";
  i {
    color: rgba(255, 255, 255, 0.767);
  }
}

body {
  margin: 0;
}
* {
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}
