<div class="login-container">
  
  <!-- Logo Section -->
  <div class="logo-section">
    <div class="logo-icon">
      <img src="../../../assets/logo2-while-2 1.png" alt="Clarium Logo" />
    </div>
  </div>

  <!-- Login Card -->
  <div class="login-card">
    <h2>Sign in</h2>
    <p class="subtitle">Sign-In with Clarium Mail</p>

    <div *ngIf="loading" class="loading-msg">
      Redirecting to Azure...
    </div>
    
    <div *ngIf="!loading">
      <button class="azure-btn" (click)="loginWithAzure()">
        <svg class="microsoft-icon" viewBox="0 0 23 23" xmlns="http://www.w3.org/2000/svg">
          <path fill="#f35325" d="M1 1h10v10H1z"/>
          <path fill="#81bc06" d="M12 1h10v10H12z"/>
          <path fill="#05a6f0" d="M1 12h10v10H1z"/>
          <path fill="#ffba08" d="M12 12h10v10H12z"/>
        </svg>
        Sign in with Microsoft
      </button>
    </div>


  </div>

</div>